[submodule "contaminacion-madrid"]
	path = Prediciendo la contaminación del aire en Madrid: el proceso
	url = https://github.com/mariamedp/contaminacion-madrid
[submodule "ML_CARDIOLOGIA_PyConES18"]
	path = Machine Learning en Cardiología
	url = https://github.com/victorvicpal/ML_CARDIOLOGIA_PyConES18
[submodule "Un drone volo sobre el nido de Python"]
	path = Un drone volo sobre el nido de Python
	url = https://github.com/MarioBartolome/GII_0_17.02_SNSI
[submodule "nmt-pycones2018"]
	path = Traducción de textos automatizada aplicando Deep Learning con Python y Keras
	url = https://github.com/PabloVargasIbarra/nmt-pycones2018
[submodule "Tipín en Pitón (Gradual Typing en Python)"]
	path = Tipín en Pitón (Gradual Typing en Python)
	url = https://github.com/bameda/pycones2018-gradual-typing-python
[submodule "testing_python_security"]
	path = Testing python security
	url = https://github.com/jmortega/testing_python_security
[submodule "pycon18-attack"]
	path = The bad guys in AI - atacando sistemas de machine learning
	url = https://github.com/aliciapj/pycon18-attack
[submodule "foucluster"]
	path = Recomendación de canciones usando Fourier, ¿mejor que Spotify?
	url = https://github.com/cperales/foucluster
[submodule "PyConES2018_Introduccion_a_data_science_en_Python"]
	path = Introducción a Data Science en Python
	url = https://github.com/PyDataMallorca/PyConES2018_Introduccion_a_data_science_en_Python
[submodule "Taller - Representación de datos geográficos"]
	path = Taller - Representación de datos geográficos
	url = https://github.com/sararl/pycones2018
[submodule "Web scraping para principiantes"]
	path = Web scraping para principiantes
	url = https://github.com/sararl/pycones2018
[submodule "tdd_pycones_2018"]
	path = TDD de cero a cien (o casi)
	url = https://github.com/aleasoluciones/pycones2018
